<%- include("./partials/header.ejs")%>

<h1>Sign UP!</h1>

<form action="/register" method="POST">
    <input type="text" name="username" id="" placeholder="username">
    <input type="password" name="password" id="" placeholder="password">
    <button>SignUp!</button>
</form>


<%- include("./partials/footer.ejs")%>